<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="span6">
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <% @postimages.each_with_index do |postimage, i| %>
        <div class="item <%= "active" if i == 0 %>">
          <%= image_tag postimage.image_url(:large) %>
          <div class="container">
            <div class="carousel-caption">
              <h1><%= postimage.micropost.title %></h1>
              <p><%= postimage.micropost.content %></p>
              <p class="lead">oleh <%= postimage.micropost.user.name %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  <div class="center hero-unit offset6">
    <h1>Tandai</h1>
    <h2>
      Promosikan tempat kesukaan atau katakan sejujurnya ...
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>
